body > table {
  width: 100%;
  background-color: #0a264fde;
}

table {
  border-collapse: collapse;
}
table .list {
  width: 100%;
}

td,
th {
  border: 1px solid black;
  text-align: left;
  font-style: italic;
  padding: 7px;
  text-decoration: solid;
}

input[type="text"],
input[type="number"],
input[type="email"] {
  width: 100%;
  padding: 6px 1px;
  margin: 10px 0px;
  display: inline-block;
  border: 0.5px solid #474444bf;
  border-radius: 3px;
}
input[type="submit"] {
  width: 50%;
  background-color: #051414b0;
  color: #000;
  padding: 14px 20px;
  margin: 8px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

form div.form-action-buttons {
  text-align: right;
}
a {
  cursor: pointer;
  text-decoration: underline;
}
label.validation-error {
  color: red;
  margin-left: 5px;
}
.hide {
  display: none;
}
#nav {
  display: flex;
  background-color: rgb(157, 0, 255);
  align-items: center;
  justify-content: space-between;
}
#nav a {
  text-decoration: none;
  color: black;
}
#nav h4 {
  color: green;
}
#nav1 {
  display: flex;
  padding-left: 10px;
  gap: 30px;
}
#nav2 {
  display: flex;
  padding-right: 10px;
  gap: 30px;
}
